<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!--
	为这个mapper指定一个唯一的namespace，namespace的值习惯上设置成包名+sql映射文件名，这样就能够保证namespace的值是唯一的
	例如namespace="me.gacl.mapping.orderMapper"就是me.gacl.mapping(包名)+orderMapper(orderMapper.xml文件去除后缀)
-->
<!-- 渠道数据映射 -->
<mapper namespace="com.carl.demo.mapper.IChannelInfoMapper">

    <!--通过<resultMap>映射实体类属性名和表的字段名对应关系 -->
    <resultMap id="channelInfoResultMap" type="com.carl.demo.entity.ChannelInfo" >
        <!-- 用id属性来映射主键字段 -->
        <id property="mInd" column="_id" jdbcType="INTEGER" />
        <!-- 用result属性来映射非主键字段 -->
        <result property="mChanNo" column="chan_no" />
        <result property="mChanDesc" column="chan_desc" />
        <result property="mTaskSwitchState" column="task_switch" />
        <result property="mSingleUserMaxTasks" column="s_user_max_tasks" />
        <result property="mRsaPubKB64" column="rsa_pub_key_b64" />
        <result property="mRsaPrivKB64" column="rsa_priv_key_b64" />
        <result property="mChanPostback" column="postback" />
    </resultMap>

    <!--通过<resultMap>映射实体类属性名和表的字段名对应关系 -->
    <parameterMap id="channelInfoParamMap" type="com.carl.demo.entity.ChannelInfo" >
        <!-- 用result属性来映射非主键字段 -->
        <parameter property="mChanNo" resultMap="channelInfoResultMap" />
        <parameter property="mChanDesc" resultMap="channelInfoResultMap" />
        <parameter property="mTaskSwitchState" resultMap="channelInfoResultMap" />
        <parameter property="mRsaPubKB64" resultMap="channelInfoResultMap" />
        <parameter property="mRsaPrivKB64" resultMap="channelInfoResultMap" />
        <parameter property="mSingleUserMaxTasks" resultMap="channelInfoResultMap" />
        <parameter property="mChanPostback" resultMap="channelInfoResultMap" />
    </parameterMap>

    <!--
             根据渠道号查询得到一个渠道信息对象。sql语句中用了别名，用于映射实体类中的属性名称。
             id是dao中的接口类的方法
    -->
    <select id="getChanInfoByChanNo" parameterType="string" resultMap="channelInfoResultMap">
        select * from ${tableName} where chan_no=#{chanNo}
    </select>



</mapper>